<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @column.title %>
</p>

<p>
  <strong>Width:</strong>
  <%= @column.width %>
</p>

<p>
  <strong>Section:</strong>
  <%= @column.section %>
</p>

<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
