<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Section Type:</strong>
  <%= @section.section_type %>
</p>

<p>
  <strong>Page:</strong>
  <%= @section.page %>
</p>

<!-- /posts/:post_id/comments/:id/edit -->
<%= link_to 'Edit', edit_page_section_path(@section.page, @section) %> |
<!-- /posts/:post_id/comments/ -->
<%= link_to 'Back', page_sections_path(@section.page) %>
