<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @block.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @block.content %>
</p>

<p>
  <strong>Column:</strong>
  <%= @block.column %>
</p>

<%= link_to 'Edit', edit_page_section_column_block_path(@block.column.section.page, @block.column.section, @block.column, @block) %> |
<%= link_to 'Back', page_section_column_blocks_path(@block.column.section.page, @block.column.section, @block.column, @block) %>
