<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @page.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @page.user %>
</p>

<!-- /posts/:post_id/comments/ -->
<%= link_to 'Sections', page_sections_path(@page) %> |
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
